.meet-luna {
  @include blockMarginBottom;

  @include hover(scale, 1.05);

  &__wrap {
    padding-inline: 12px;
    text-align: center;

    @include onTablet {
      @include contentPaddingInline;
      @include blockMarginBottom;
    }

    @include onDesktop {
      padding-inline: 297px;
    }
  }

  &__img {
    width: 100%;
  }
}
