// @font-face {
//   font-family: Roboto, Arial, Helvetica, sans-serif;
//   src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Light.ttf) format('truetype');
  font-weight: 300;
}