@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline {
  padding-inline: 30px;

  @include onTablet {
    padding-inline: 34px;
  }

  @include onDesktop {
    padding-inline: 123px;
  }
}

@mixin gridPage {
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

@mixin blockMarginBottom {
  margin-bottom: 110px;

  @include onTablet {
    margin-bottom: 140px;
  }

  @include onDesktop {
    margin-bottom: 170px;
  }
}